.loading{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: grid;
    place-items: center; 
    max-width: 100%;
}

.loading > div{
     width: 10vmax;
     height: 10vmax;
     border-bottom: 5px solid rgba(31, 30, 30, 0.781);
     border-radius: 50%;
     animation: loadRotate 800ms linear infinite;
}

@keyframes loadRotate  {
    to {
        transform: rotateZ(-360deg);
    }
    
}